<ActionBar title="Contact Us" class="action-bar">
    <NavigationButton text="Menu" icon="res://ic_drawer" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">
        <StackLayout class="m-5 p-10 border">
            <Label class="h3" text="Contact Information"></Label>
            <Label class="body m-l-10" text="121, Clear Water Bay Road"></Label>
            <Label class="body m-l-10" text="HONG KONG"></Label>
            <Label class="body m-l-10" text="Tel: +852 1234 5678"></Label>
            <Label class="body m-l-10" text="Fax: +852 8765 4321"></Label>
            <Label class="body m-l-10" text="Email:kstarcafe@food.net"></Label>
        </StackLayout>
    </StackLayout>
</RadSideDrawer>